/*
Author: Jospin AMISSI, +25775221379, +25771362718
Url: facebook.com/amissi.hassan
site web: www.jospinamissi.comeze.com
Version: 1.0.0 - 25.01.2015
*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('@{icon-font-path}@{icon-font-name}.eot');
  src: url('@{icon-font-path}@{icon-font-name}.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}@{icon-font-name}.woff') format('woff'),
       url('@{icon-font-path}@{icon-font-name}.ttf') format('truetype'),
       url('@{icon-font-path}@{icon-font-name}.svg#@{icon-font-svg-id}') format('svg');
}

#page{margin:0; padding:0; background:#999999; background-size:100%;}

/************ POUR LE TELEPHONE MOBILE *********/
@media (min-width: @screen-tablet) {
	#page{max-width:970px;}
}

.navbar{border-radius:0px;font-size:20px;}

.navbar ul{margin-left:88px;}

marquee{margin-bottom:30px;/*text-shadow:#fff 10px 0px 10px;*/color:#99cc33;font-size:27px;font-family: 'Bradley Hand ITC', 'Lucida Handwriting','Comic Sans MS','Courier New', serif;
}

.bloc{min-height: 200px;}

/********** HEADER *******/
#page li a:hover
{color:#99cc33;}

section a{color: #f0f;}

#header{min-height: 50px;height:180px;margin-bottom:0px;margin-top:0;background-color: rgb(34,34,34);}

#logo{top:50px;}

#form{top:50px;}


/*********** FORMULAIRE CONTACTS *******************/

#caroussel #form{padding:0px;right:80px;top:-1px;float:right; position:relative;font-family:century gothic;font-size:18px;}
	
#caroussel #form button{float: right; background-color:#000; font-size:16px; color:#fff; }

#header .btn .btn-primary{background:#99cc33;}

#caroussel .form-group {padding:0;display:inline-block;top:-1px;font-family:century gothic;}

#header .form-control{width:240px;margin-right:2px;}

#form button{background-color:#99cc33;margin-right:2px;}

#form .glyphicon-search{color:#fff;}

table{font-family:century gothic;font-size:16px;}

table .trans td{margin:15px;}

/********** CAROUSSEL **********/

#caroussel{min-height:530px;margin-top:3px;padding:0;top:-5px;}
#caroussel img{border-radius:5px}

#caroussel p {font-family: century gothic;font-size:16px;}

#caroussel form textarea{height:200px;}

#labo .form-control{width:500px;}

/*************** FOOTER ****************/

.row{margin-top:2px;padding:0;}

#describe {
	margin-top:-15px;
}

#slide{width:1100px;}

.article{
	display:inline-block;
	width:383px;
	float:left;
	background:#99cc33;
	height:500px;
	margin:0px 3px 15px 3px;;
}

.title{
	background:#000;
	border-radius:5px 5px 0 0;
	text-align:center;
	font-size:24px;
	font-family:'century gothic';
	color:#fff;
}

.description{
	color:#fff;
	height:95px;
	font-family: 'Trebuchet MS';
	font-size:16.2px;
}

.readmore{
	background:#000;
	width:100px;
	color:white;
	margin-top:110px;
	display:inline-block;
	padding:5px 20px;	
}

.gauche{width:184px; display:inline-block; float:left; font-size:19px; font-family:'century gothic'; }
.gauche a{color:#000;}
.gauche a:hover{color:#f00;}
.interne{width:975px; display:inline-block; margin:0 0 0 5px;}
.photo {background-color	:#444;}

.left{width:570px; display:inline-block; float:left; border:1px solid none; margin:15px 10px 10px 10px;}
.right{width:560px; display:inline-block; height:600px; border:1px solid none; margin:15px 0 9px 18px;} 

[class*="col"]{padding:0px;font-family:century gothic;font-size: 15px;}

.noir{border-top:5px solid #99cc33; margin-top:-14.7px;padding-top:15px;background-color: rgb(34,34,34);height: 170px;color:#fff;font-size:20px;text-align:center;font-family: century gothic;}

.noir img{height:25px;width: 25px;}

.noir a{text-decoration:none; color:#99cc33;}

.erreure{padding:8px; width:1170px; background:rgba(255, 0, 0, 0.35); font-size:18px; margin:3px 0 0 -15px;font-family:'trebuchet MS';border-radius:5px 5px 0 0;color:#fff;}

.normaltip{	background-position:-28px 0;}

.glyphicon
{position: relative;top: 1px;display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}